
  <div class="top-bar" >
    <div class="container-fluid padd_content">
        <div class="row">
            <div class="col-md-9 height_top_bar">
                <div class="top-bar-info">
                    <ul class="ps-0">
                        <li><i class="bi bi-phone"></i>(+123) 456 7890</li>
                        <li class="d-none d-sm-inline-block"><i class="bi bi-envelope-at"></i>{{email}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 height_top_bar d-none d-md-block">
                <ul class="top-social-icon ps-0">
                    <li><a href="#!"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="#!"><i class="bi bi-twitter-x"></i></a></li>
                    <li><a href="#!"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="#!"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 md:mb-0">
      <img [src]="logoImage" alt="logo" width="34" height="34" class="d-inline-block align-text-top">
      <span class="ml-3 text-xl">Tectonas</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" >First Link</a>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
    </nav>
    <button class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded   md:mt-0" style=" background-color: #102a83;color: white;">Contact us
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>


