<div class="page-wrapper" style="padding-bottom: 21px;">
    <section class="page-title-section bg-img cover-background primary-overlay" data-overlay-dark="7" data-background="./assets/images/bg-19.jpg" style="background-image: url('./assets/images/bg-19.jpg');">
        <div class="row position-relative z-index-1">
            <div class="col-md-12">
                <div class="faded-text">
                    <div class="f-text"><span class="main-font">About Us</span></div>
                </div>
                <h1>About Us</h1>
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#!">About Us</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="p-5 mt-2" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                        <img [src]="imageURL_content" alt="" style="width: 100%; max-width: 200px;">
                    </div>
                    <div class="col-md-8 col-sm-12">
                      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-3 text-gray-900"><span class="hny-title">Our Story?</span></h1>
                      
                        <p class="about-confont mt-1">Based in India, Tectonas is a Cyber Security Audit Automation product company.</p>
                        <p class="about-confont mt-1">Based on the paradigm of Cyber Security - Simplified; our moto is to reduce the burden and make cyber security easy and efficient for the IT and admin personnel in various Industries and organizations.</p>
                        <p class="about-confont mt-1">At Tectonas we also understand that an IT networks need would vary from a small to a large organization too. Hence we ensure that our Cyber Security platforms and softwares are flexible and customizable depending on the type and changing needs of an organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: rgb(243 243 243)">
        <div class="p-5 mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-3 text-gray-900"><span class="hny-title">Why choose us?</span></h1>
                      
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Flexible and Customized -</b> All OwnYit products by Tectonas are designed in a way that it can be adapted to the varying needs of an organization.</p>
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Problem Solving Approach -</b> At Tectonas, we do not believe in a one fit for all solution. We analyze the problem areas and accordingly suggest options that could solve the problem.</p>
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Experienced Team -</b> We have a team of highly trained and skilled ENDEC team who has successfully secured over 200 clients across 8 countries by improving their IT visibility, reduce IT operation costs, mitigate cyber security threats, comply cyber security standards and lot more.</p>
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Easily Accessible -</b> We ensure that our products don't need a technical personnel to operate and can be used by Business owners as well as IT Managers who can be given role based access too.</p>
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Compatibility -</b> All Tectonas products are compatible with popular Operating systems like Windows and Linux.</p>
                        <p class="mt-1 about-confont" style="font-weight:normal;"><b>Established Distribution System -</b> All our products are made available by their own dedicated channels of exclusive dealers, distributors and delivery partners based across India.</p>
                    </div>
                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                        <img [src]="imageURL_content_02" alt="" style="width: 100%; max-width: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </section>

  


   

<section class="text-gray-600 body-font"  >
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our <span class="hny-title">working process</span></h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Unlocking the path to success through our meticulously crafted journey, where every step is a testament to our dedication and expertise.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Discovery</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Discussion</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Testing</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"></path>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Execute</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Deploy</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
      <div class="xl:w-1/3 md:w-1/2 p-4">
        <div class="border border-gray-200 p-6 rounded-lg">
          <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-4">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
            </svg>
          </div>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Maintain</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waist co, subway tile poke farm.</p>
        </div>
      </div>
    </div>
    </div>
</section>



<section class="text-gray-600 body-font"  style="background-color: rgb(243 243 243)">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our <span class="hny-title">Our Product Portfolio</span></h1>
      <!-- <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Unlocking the path to success through our meticulously crafted journey, where every step is a testament to our dedication and expertise.</p> -->
    </div>
   
    </div>
</section>
</div>
