<div class="page-wrapper" style="padding-bottom: 21px;">
    <section class="page-title-section bg-img cover-background primary-overlay" data-overlay-dark="7" data-background="./assets/images/1.png" style="background-image: url('./assets/images/1.png');">
        <div class="row position-relative z-index-1">
            <div class="col-md-12">
                <div class="faded-text">
                    <div class="f-text"><span class="main-font">CYBER SECURITY AUDIT SIMPLIFIED
                    </span></div>
                </div>
                <h1>Home</h1>
             
            </div>
        </div>
    </section>


</div>
