<div class="page-wrapper" style="padding-bottom: 21px;">
    <section class="page-title-section bg-img cover-background primary-overlay" data-overlay-dark="7" data-background="./assets/images/1.png" style="background-image: url('./assets/images/1.png');">
        <div class="row position-relative z-index-1">
            <div class="col-md-12">
                <div class="faded-text">
                    <div class="f-text"><span class="main-font">CYBER SECURITY AUDIT SIMPLIFIED
                    </span></div>
                </div>
            
            </div>
        </div>
    </section>


    <section>
        <div class="p-5 mt-2" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center mb-3 mb-md-0">
                        <img [src]="imageURL_content" alt="" style="width: 100%; max-width: 260px;">
                    </div>
                    <div class="col-md-8 col-sm-12">
                      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-3 text-gray-900"><span class="hny-title">What TectonaS Does</span></h1>
                      
                        <p class="about-confont mt-1">TectonaS is a brand of data collection and analysis tools that gives you powerful insights about the hardware and software systems, performance of the IT assets, how resources are being utilized, network traffic etc. It empowers the decision maker to analyze and monitor if IT protocols and policies are being followed or not and take a desirable action accordingly. The best part is that it is simple and easy to use, hence anyone from IT manager to business users can analyze and Implement changes thereby ensuring that a healthy network security is maintained.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
