<footer class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0  text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <img [src]="logoImage" alt="logo" width="34" height="34" class="d-inline-block align-text-top me-0">
          <span class="ml-1 text-xl">Tectonas</span>
        </a>
        <p class="mt-2 text-sm text-gray-500"></p>
        <p class="text-sm text-gray-500"></p>
        
      </div>
      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">About us</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">Dedicated to excellence </a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">and innovation, we strive to deliver outstanding services </a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">and solutions tailored to meet your unique needs</a>
            </li>
           
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">OwnYIT</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">OwnYIT CSAT PLUS</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">OwnYIT VAPT</a>
            </li>

          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Tectonas</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">Tectonas CSAT PLUS</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Tectonas EPMs</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Tectonas Nockdesk</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Tectonas VAPT</a>
            </li>
          </nav>
        </div>
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-medium text-white tracking-widest text-sm mb-3">Contact Info</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 hover:text-white">A-306, THE FIRST</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">NR. Keshavbaug Party Plot</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white">Vastrapur, Ahmedabad-380015</a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white"><i class="bi bi-phone"></i> 9099983017 </a>
            </li>
            <li>
              <a class="text-gray-400 hover:text-white"><i class="bi bi-envelope-at"></i> contactus&#64;tectonas.com</a>
            </li>
          </nav>
        </div>
      
      </div>
    </div>
    <div class="bg-gray-800 bg-opacity-75">
      <div class="container  py-2 px-5 flex flex-wrap flex-col sm:flex-row d-flex justify-content-center">
        <p class="text-gray-400 text-sm text-center sm:text-left">© 2010 - 2026
          <a href="https://twitter.com/knyttneve" rel="noopener noreferrer" class="text-gray-500 ml-1" target="_blank">Tectona SoftSolutions (P) Ltd. All Rights Reserved.</a>
        </p>
       
      </div>
    </div>
  </footer>